<html>
  <h1> <%= @user.email.capitalize %>'s Destinations</h1>
  <% if current_user == @user %>
    <form action="/destinations/new" method="GET">
      <button type="submit">New Destination</button>
    </form>
  <% end %>
  <h3>All Destinations </h3>
  <% if @destinations.empty? %>
    <p><%= @user.email.capitalize %> doesn't have any destinations yet!</p>
  <% else %>
    <table>
      <thead>
        <th>Location |</th>
        <th>Date Visited </th>
        <th></th>
        <% if current_user == @user %>
          <th></th>
          <th></th>
        <% end %>
      </thead>
      <tbody>
      <% @destinations.each do |destination| %>
        <tr>
          <td><%= destination.location %></td>
          <td><%= destination.date_visited %></td>
          <form action="/destinations/<%= destination.id %>" method="get">
              <td><button type="submit">See Details</button></td>
            </form>
            <% if destination.user == current_user %>
              <form action="/destinations/<%= destination.id %>/edit" method="GET">
                <td>
                  <button type="submit">Edit Destination</button>
                </td>
              </form>
              <form action="/destinations/<%= destination.id %>/delete" method="POST">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <td>
                  <button type="submit">Delete Destination</button>
                </td>
              </form>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</html>