<html>
  <h1>Welcome, <%= @user.email.capitalize %>!</h1>
  <form action="/destinations/new" method="GET">
    <button type="submit">New Destination</button>
  </form>
  <h3>All Destinations</h3>
    <% if @destinations.empty? %>
    <p>No existing destinations</p>
    <% else %>
    <table>
      <thead>
        <th>Email |</th>
        <th>Location |</th>
        <th>Date Visited</th>
      </thead>
      <tbody>
        <% @destinations.each do |destination| %>
          <tr>
            <td><h5><a href="/users/<%= destination.user_id %>"><%= destination.user.email %></a></h5></td>
            <td><%= destination.location %></td>
            <td><%= destination.date_visited %></td>
            <form action="/destinations/<%= destination.id %>" method="get">
              <td><button type="submit">See Details</button></td>
            </form>
            <% if destination.user == current_user %>
            <form action="/destinations/<%= destination.id %>/edit" method="GET">
              <td>
                <button type="submit">Edit Destination</button>
              </td>
            </form>
            <form action="/destinations/<%= destination.id %>/delete" method="POST">
              <input id="hidden" type="hidden" name="_method" value="DELETE">
              <td>
                <button type="submit">Delete Destination</button>
              </td>
            </form>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</html>