<html>
  <h1>Location | <%=@destination.location%></h1>
  <h3>Date Visited | <%= @destination.date_visited %></h3>
  <h3>Created By | <a href="/users/<%= @destination.user_id %>"><%= @destination.user.email.capitalize %></a></h3>
  <br>
  <% if @destination.user == current_user %>
    <div class="btn-group">
      <form action="/destinations/<%= @destination.id %>/edit" method="GET">
      <button class="btn btn-primary btn-lg" type="submit">Edit Destination</button>
      </form>
    </div>
    <br>
    <div class="btn-group">
      <form action="/destinations/<%= @destination.id %>/delete" method="POST">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <button class="btn btn-danger btn-lg" type="submit">Delete Destination</button>
      </form>
    </div>
    <br>
    <div class="btn-group">
      <form action="/destinations/new" method="GET">
        <button class="btn btn-success btn-lg" type="submit">New Destination</button>
      </form>
    </div>
  <% end %>
</html>